/*
Name: Katie Lininger
File name: styles.css
Date: February 7, 2024
*/

/* CSS Style Reset */
body, header, nav, div, footer, img {
    margin: 5px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: #738678;
}

img {
    display: block;
    margin: auto;
}

/* Style rules for header */
header {
    color: #4e3524;
    background-color: #fffaf0;
    text-align: center;
    border-radius: 15px;
}

h1 {
    font-family: "Abril Fatface", serif;
    font-weight: lighter;
}

h3 {
    font-weight: lighter;
    font-family: "Quicksand", sans-serif;
}

#name {
    color: #4e3524;
    background-color: #fffaf0;
    text-align: center;
}

#mobile-text-and-img {
    display: none;
}

.title {
    color: #4e3524;
    font-family: "Abril Fatface", serif;
    display: block;
    border-radius: 15px;
}

/* Style rules for nav */
nav {
    margin: 5em 3em 0 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li a {
    display: block;
    color: #4e3524;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: #fffaf0;
    width: auto;
    height: auto;
    font-family: "Abril Fatface", serif;
    border-radius: 15px;
}

/* Style rules for main */
main {
    clear: left;
    background-color: #738678;
    padding: 2%;
    font-size: 1.15em;
    border-radius: 15px;
    color: #fffaf0;
    font-family: "Quicksand", sans-serif;
}

#bio-paragraph {
    text-align: left;
}

#about-info {
    display: none;
}

#contact {
    padding: 5px;
    margin: 0;
    display: block; 
}

#map {
    width: auto;
    height: auto;
}

.list {
    color: #fffaf0;
    padding: 10px;
    list-style-type: circle;
    line-height: 1.5em;
}

.link {
    color: #4e3524;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

/* Style rules for footer */
footer p {
    background-color: #fffaf0;
    color: #4e3524;
    text-align: center;
    font-size: 0.75em;
    padding: 2.5em;
    font-family: "Quicksand", sans-serif;
    border-radius: 15px;
}

footer a {
    display: block;
    background-color: #fffaf0;
    color: #4e3524;
    text-align: center;
    font-size: 0.75em;
    padding: 2px;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    border-radius: 15px;  
}

.link {
    color: #4e3524;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    
}

/*#image-and-text {
    color: #4e3524;
    background-color: #fffaf0;
    text-align: center;
} */