/*
Name: Katie Lininger
File name: styles.css
Date: February 7, 2024
*/

/* CSS Style Reset */
body, header, nav, div, footer, img, iframe {
    margin: 10px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: #738678;
}

img {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    width: 75%;
    height: auto;
}

/* Style rules for header */
header {
    color: #4e3524;
    background-color: #fffaf0;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 20px;
}

h1 {
    font-family: "Abril Fatface", serif;
}

h3, h4 {
    font-family: "Abril Fatface", serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.title {
    color: #4e3524;
    font-family: "Abril Fatface", serif;
    display: block;
    border-radius: 15px;
    text-align: center;
    background-color: #fffaf0;
    font-size: large;
}

/* Style rules for nav */
nav {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
}

nav li a {
    color: #4e3524;
    text-align: center;
    padding: 0.25em;
    text-decoration: none;
    background-color: #fffaf0;
    font-family: "Abril Fatface", serif;
    border-radius: 12px;
    margin: 0;
    
}

/* Style rules for main */
main {
    clear: left;
    background-color: #738678;
    padding: 2%;
    font-size: 1.15em;
    border-radius: 12px;
    color: #fffaf0;
    font-family: "Quicksand", sans-serif;
}

#bio-paragraph {
    text-align: left;
    font-size: medium;
    padding-bottom: 30px;
}

p {
    font-size: small;
    font-family: "Quicksand", sans-serif;
    text-indent: 20px;
}
#contact {
    padding: 5px;
    margin: 0;
    display: block; 
    font-size: small;
}

#bottom-p {
    padding-bottom: 30px;
}

.list {
    color: #fffaf0;
    padding: 10px;
    list-style-type: circle;
    line-height: 1.5em;
}

.link {
    color: #4e3524;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.gallery-images {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

.column {
    margin: auto;
    width: 60%;
    display: grid;
}

.tablet-desktop {
    display: none;
}

/* Style rules for footer */
footer p, footer a {
    display: block;
    background-color: #fffaf0;
    color: #4e3524;
    text-align: center;
    font-size: 0.75em;
    font-family: "Quicksand", sans-serif;
    border-radius: 15px;
    position: fixed;
    bottom: 0px;
    width: 50%;
    margin-left: 22%;
    margin-right: 25%;
}

    
/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px) {
    /* Show tablet-desktop class, hide mobile */
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
    
    /* Style rules for header */
    .title {
        color: #4e3524;
        font-family: "Abril Fatface", serif;
        display: block;
        border-radius: 15px;
        text-align: center;
        background-color: #fffaf0;
        font-size: x-large;
    }
    
    h3 {
        font-size: xx-large;
    }
    
    #header-h3 h3 {
        font-size: xx-large;
        padding-bottom: 10px;
        font-family: "Quicksand", sans-serif;
        padding-left: 5%;
        padding-right: 5%;
        font-weight: normal;
    }
    
    h4 {
        display: block;
        font-family: "Abril Fatface", serif;
        text-align: center;
        font-size: xx-large;
    }
    
    header {
        margin-left: 15%;
        margin-right: 15%;
    }
    
    p {
        font-size: x-large;
    }
    
    iframe {
        width: 615px;
        height: 400px;
        margin: 0 auto;
    }
    /* Style rules for nav */
    nav li {
        display: inline;
        font-size: x-large;
        margin-left: 30px;
        margin-right: 10px;
    }
    
    /* Style rules for main */
    main {
        font-size: xx-large;
        text-align: left;
        margin: 0 auto;
    }
    
    li {
        font-size: x-large;
    }
    
    .contact p, li {
        font-size: x-large;
        padding: 10px;
    }
    
    /* Style rules for footer content */
    footer a, footer p {
        margin-left: 22%;
        margin-right: 25%;
        width: 50%;
        font-size: medium;
    }
    /* .column {
    float: left;
    width: 30%;
    display: grid; */
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1024px) {
    /* Show tablet-desktop class, hide mobile */
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
    
    /*Style rules for header */
    header {
        width: 100%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        height: 50px;
        text-align: center;
        padding-top: 1px;
        padding-bottom: 15px;
    }
    
    img {
        margin-left: 10%;
        margin-top: 0.5%;
        padding-bottom: 10px;
        border-radius: 12px;
        float: left;
        width: 100%;
        height: auto;
        max-width: 200px;
    }
    
    #index-header h1 {
        margin-right: 15%;
        margin-top: 5%;
        border-radius: 12px;
        display: block;
        float: right;
        font-size: xxx-large;
    }
    
    #index-header h3 {
        float: right;
        font-size: x-large;
        margin-top: 0;
        font-family:  "Quicksand", sans-serif;
        font-weight: lighter;
        margin-right: 3%;
        margin-bottom: 15px;
    }
    
    #index-header header {
        width: 100%;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        height: 200px;
        padding-bottom: 30px;
    }
    
    h4 {
        clear: both;
        display: block;
        font-family: "Abril Fatface", serif;
        text-align: center;
    }
    
    /* Style rules for nav */
    nav li {
        display: inline;
        font-size: xx-large;
        margin-left: 10px%;
        margin-right: 2px;
    }
    
    /* Style rules for main */
    p {
        font-size: x-large;
    }
    
    #top-ab-p p {
        padding-top: 5%;
        padding-bottom: 10%;
    }
    
    .column {
        width: 30%;
        float: left;
        display: grid;
        margin: auto;
    }
    
    /*Style rules for footer */
    footer a, footer p {
        margin-left: 22%;
        margin-right: 25%;
        width: 50%;
        font-size: large;
    }
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
    /* Style rules for header */
    img {
        width: 100%;
        height: auto;
        max-width: 400px;
        margin-left: 50px;
    }
    
    header {
        width: 100%;
        margin-top: 5px;
        height: 70px;
        text-align: center;
    }
    
    .title {
        font-size: xxx-large;
        padding-bottom: 10px;
        margin-top: 5px;
    }
    
    #index-header header {
        width: 75%;
        margin-top: 15px;
        height: 450px;
        padding-bottom: 30px;
        float: none;
    }
    
    #index-header h1 {
        border-radius: 12px;
        display: block;
        float: right;
        font-size: 70px;
        margin-top: 7%;
        margin-right: 20%;
    }
    
    #index-header h3 {
        float: right;
        font-size: 2.5em;
        margin-right: 5%;
        font-family:  "Quicksand", sans-serif;
        font-weight: lighter;
        padding-bottom: 2.5%;
    }
    
    /* Style rules for nav */
    
    nav { 
        padding-top: 3%;
    }
    
    nav li {
        font-size: 3em;
        margin-left: 150px;
    }
    
    /* Style rules for main */
    h4 {
        font-size: 60px;
    }
    
    p {
        font-size: xx-large;
    }
    
    li {
        font-size: xx-large;
    }
    
    #bio-paragraph {
        font-size: xx-large;
    }
    
    #bio-paragraph img {
        height: 400px;
        max-width: 400px;
    }
    
    #top-ab-p p {
        padding-top: 7%;
        width: 75%;
        margin-left: 200%;
    }
    
    .column {
        width: 50%;
        display: grid;
        float: left;
        margin: auto;
    }
    
    .content p {
        font-size: 120%;
        width: 80%;
        display: block;
        padding-left: 5%;
        padding-bottom: 30%;
    }
    
    .content h3 {
        font-size: 200%;
        text-align: center;
        width: 80%;
        padding-left: 5%;
    }
    
    .gallery-images {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 75px;
        width: 100%;
        height: auto;
        max-width: 700px;
    }
    
    #contact {
        font-size: 150%;
        padding: 0.25%;
    }
    
    /* Style rules for footer */
    footer a, footer p {
        font-size: x-large;
    }
}